$font1:'Rubik', sans-serif;
$font2:'Cuprum', sans-serif;
$font3:'Bulgaria Glorious Cyr', sans-serif;
$black: #000;
$darkBlue: #224970;
$middleBlue: #3E638C;
$deepDarkBlue: #132D54;
$lightBlue: #6080AF;
$thinBlue: #B0C5E3;
$deepRed: #912A37;
$lightRed: #B03B4A;
$middleBrown: #905B3B;
$middleBrownHover: #B27753;
$pageBg: #E8DACD;
$textLight: #D1DCF1;
$lightNud: #E8DACD;
$middleNud: #D6AF8E;
$deepNud: #F4EDE6;
$textDark: #4B4E6B;
$border: 1px solid #81A2D1;
